<p>Data</p><br>
<input type="date" [(ngModel)]= "transazione.data" required>
<p>Descrizione</p><br>
<input type="text"  [(ngModel)]= "transazione.descrizione" required>
<p>Valuta in euro</p><br>
<input type="number"  [(ngModel)]= "transazione.valuta" required ><br> <br>
<button (click)="aggiungi()" class="btn btn-success">Aggiungi</button>

<table *ngIf = "transazioni.length > 0  " class="table">
 <thead>
   <tr>
     <th>Data</th>
     <th>Descrizione</th>
     <th>Importo Euro</th>
     <th>Importo Dollari</th>
   </tr>
 </thead>
 <tbody>
   <tr *ngFor = "let t of transazioni ">
     <td>{{t.data}}</td>
     <td>{{t.descrizione}}</td>
     <td>{{t.valuta}}</td>
     <td>{{t.valutaDollaro}}</td>
     <td><input type="button" value="Cancella" (click)="cancella(t)" class="btn btn-outline-danger btn-sm"></td>
   </tr>
 </tbody>
</table>
